.footer-container {
    height: 45vh;
    background-color: rgb(0,0,0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    height: 100px;
}

.footer-lists {
    list-style: none;
}

li {
    padding: 10px;
    text-transform: lowercase;
    font-weight: 300;
    cursor: pointer;
}
li:hover {
    text-decoration: line-through;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

@media screen and (max-width: 425px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

   .footer-lists {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        height: 80px;
    }
}