
#video {
    position: fixed;
    z-index: -1;
    width: 100%;
}

.App-header {
  background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-title{
  font-weight: bold;
  font-family: "Helvetica Neue",
}

.App-description {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  
}